<configuration>
  <appSettings>
    <!--Basic settings-->
    <add key="RootFileDirectory" value="I:\Test" />
    <add key="SearchSubDirectories" value="true" />
    <add key="DefaultHeaderText" value="Header added by Folder Inspector" />
    <add key="DefaultFooterText" value="Footer added by Folder Inspector" />
    <add key="EditWordDocuments" value="true" />
    <add key="EditExcelDocuments" value="true" />
    <add key="WordDocumentExtension" value="docx" />
    <add key="ExcelDocumentExtension" value="xlsx" />

    <!--Advance settings-->
    <add key="UseCustomHeaderText" value="false" />
    <add key="CustomHeaderText" value="Custom Header by Folder Inspector" />
    <add key="UseCustomFooterText" value="false" />
    <add key="CustomFooterText" value="Custom Footer by Folder Inspector" />
    <add key="AppendFilePathToHeaderText" value="true" />
    <add key="AppendFilePathToFooterText" value="true" />
  </appSettings>  
</configuration>

